/* styles.css */

.vbox-background {
    -fx-background-color: #1a1a1a; /* Dark background color */
}

.description-textfield {
    -fx-font-size: 18;
    -fx-text-fill: #ffffff; /* White text color */
}

.btn {
    -fx-background-color: #4CAF50; /* Green background color */
    -fx-text-fill: #fff; /* White text color */
    -fx-font-size: 16;
    -fx-padding: 10 20;
    -fx-border-color: #388E3C; /* Dark green border color */
    -fx-border-radius: 5;
}

.btn:hover {
    -fx-background-color: #45a049; /* Darker green on hover */
}
